{% extends "base.twig" %}

{% block content %}
	<div class="page-header">
	<h1>{{ post.title }}</h1>
	</div>
	<div class="page-body">
		<div class="page-thumbnail px-4">
			<img src="{{ post.thumbnail.src('large') }}" class="img-fluid">

		</div>
		<div class="page-content">
			{{post.content}}
		</div>
	</div>
	<div class="video-list">
		{% for video in post.meta('videos') %}
			<div class="video-list-item">
				<div class="embed-responsive embed-responsive-16by9">
					{{ post.meta('video_url') }}
				</div>
				<div class="video-list-item-details">
					{{ post.meta('video_details') }}
				</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
